<nav class="navbar fixed-bottom navbar-expand navbar-light bg-light">
  <div class="navbar-text m-auto">
    <i class="fa fa-user-circle-o" aria-hidden="true" style="color: #343a40;"></i>️ By: Luis Corredor
  </div>
</nav>

