<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>
               All Posts
            </h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" *ngIf="results" border="1">
        <div class="col-4" *ngFor="let p of results; let i=index">
            <div class="card">
                <div class="card-header bg-transparent">
                    <h6 class="card-title">{{p.title}}</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">{{p.body}}</p>
                </div>
                <div class="card-footer bg-transparent">
                    <a class="card-link" [routerLink]="['/posts',p.id]">View</a>
                </div>
            </div>
        </div>
    </div>
</div>