<div class="container">
    <div class="row">
        <div class="col-12">
            <h5 class="card-title">sunt aut facere repellat provident occaecati excepturi optio reprehenderit</h5>
            
            <p>quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto</p>

            <!-- Table -->

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><a href="#">Eliseo@gardner.biz</a></th>
                        <td>laudantium enim quasi est quidem magnam voluptate ipsam eos\ntempora quo necessitatibus\ndolor quam autem quasi\nreiciendis et nam sapiente accusantium<td>
                    </tr>
                    <tr>   
                        <th><a href="#">Jayne_Kuhic@sydney.com</a></th>
                        <td>est natus enim nihil est dolore omnis voluptatem numquam\net omnis occaecati quod ullam at\nvoluptatem error expedita pariatur\nnihil sint nostrum voluptatem reiciendis et<td>
                    </tr>
                    <tr>    
                        <th><a href="#">Nikita@garfield.biz</a></th>
                        <td>quia molestiae reprehenderit quasi aspernatur\naut expedita occaecati aliquam eveniet laudantium\nomnis quibusdam delectus saepe quia accusamus maiores nam est\ncum et ducimus et vero voluptates excepturi deleniti ratione<td>
                    </tr>
                    <tr>    
                        <th><a href="#">Lew@alysha.tv</a></th>
                        <td>non et atque\noccaecati deserunt quas accusantium unde odit nobis qui voluptatem\nquia voluptas consequuntur itaque dolor\net qui rerum deleniti ut occaecati<td>
                    </tr>
                    <tr>    
                        <th><a href="#">Hayden@althea.biz</a></th>
                        <td>harum non quasi et ratione\ntempore iure ex voluptates in ratione\nharum architecto fugit inventore cupiditate\nvoluptates magni quo et<td>
                    </tr>
                </tbody>
            </table>
            
            <a class="card-link" [routerLink]="['/post']">Back</a>
        </div>
    </div>
</div>