/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body{
    background-color: #f5f5f5;
    padding: 5em;
}


.card{
    width: 100%;
    margin-top: 20px;
}

.card-title, .card-text{
    text-transform: uppercase;
}